In [13]:
import pandas as pd
categorie_lyst = ['T-shirt/Top','Trouser','Pullover','Dress','Coat','Sandal','Shirt','Sneaker','Bag','Ankel Boot']
def create_categorie_data_frame() :
    label_lyst = [i for i in range(10)]
    label_frame = {'label':label_lyst,'categorie':categorie_lyst}
    return pd.DataFrame(data=label_frame,index=label_lyst)
create_categorie_data_frame()

   label    categorie
0      0  T-shirt/Top
1      1      Trouser
2      2     Pullover
3      3        Dress
4      4         Coat
5      5       Sandal
6      6        Shirt
7      7      Sneaker
8      8          Bag
9      9   Ankel Boot